xml-parser/src/main/resources/xsd/feature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ebi.ac.uk/proteins/api/doc/xsd/feature"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ebi.ac.uk/proteins/api/doc/xsd/feature"
           elementFormDefault="qualified">
    <!--?xsi:schemaLocation = "http://www.ebi.ac.uk/proteins/api/doc/xsd/feature.xsd">-->
    <xs:element name="entryFeatureCollection">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="entryFeature" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="entryFeature">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="accession"/>
                <xs:element name="proteinName" type="xs:string"/>
                <xs:element name="geneName" type="xs:string"/>
                <xs:element name="proteinExistence" type="xs:string"/>
                <xs:element ref="sequence"/>
                <xs:element name="taxid" type="xs:int" minOccurs="0" maxOccurs="1"/>
                <xs:element name="organismName" type="xs:string"/>
                <xs:element name="feature" type="featureType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="name" type="xs:string"/>
    <xs:element name="accession" type="xs:string"/>
    <xs:element name="sequence" type="sequenceType"/>

    <xs:complexType name="sequenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="checksum" type="xs:string" use="required"/>
                <xs:attribute name="version" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="featureType">
        <xs:annotation>
            <xs:documentation>Describes different types of sequence annotations.
                Equivalent to the flat file FT-line.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="original" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Describes the original sequence in annotations that describe natural or artifical
                        sequence variations.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="variation" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Describes the variant sequence in annotations that describe natural or artifical
                        sequence variations.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="location" type="locationType">
                <xs:annotation>
                    <xs:documentation>Describes the sequence coordinates of the annotation.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="description" type="xs:string"/>
            <xs:element name="evidence" type="evidenceType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="xrefs" type="dbReferenceType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="variant" type="variantType" minOccurs="0"/>
            <xs:element name="peptide" type="peptideType" minOccurs="0"/>

        </xs:sequence>

        <xs:attribute name="type" use="required">
            <xs:annotation>
                <xs:documentation>Describes the type of a sequence annotation.
                    Equivalent to the flat file FT feature keys, but using full terms instead of acronyms.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="active site"/>
                    <xs:enumeration value="binding site"/>
                    <xs:enumeration value="calcium-binding region"/>
                    <xs:enumeration value="chain"/>
                    <xs:enumeration value="coiled-coil region"/>
                    <xs:enumeration value="compositionally biased region"/>
                    <xs:enumeration value="cross-link"/>
                    <xs:enumeration value="disulfide bond"/>
                    <xs:enumeration value="DNA-binding region"/>
                    <xs:enumeration value="domain"/>
                    <xs:enumeration value="glycosylation site"/>
                    <xs:enumeration value="helix"/>
                    <xs:enumeration value="initiator methionine"/>
                    <xs:enumeration value="lipid moiety-binding region"/>
                    <xs:enumeration value="metal ion-binding site"/>
                    <xs:enumeration value="modified residue"/>
                    <xs:enumeration value="mutagenesis site"/>
                    <xs:enumeration value="non-consecutive residues"/>
                    <xs:enumeration value="non-terminal residue"/>
                    <xs:enumeration value="nucleotide phosphate-binding region"/>
                    <xs:enumeration value="peptide"/>
                    <xs:enumeration value="propeptide"/>
                    <xs:enumeration value="region of interest"/>
                    <xs:enumeration value="repeat"/>
                    <xs:enumeration value="non-standard amino acid"/>
                    <xs:enumeration value="sequence conflict"/>
                    <xs:enumeration value="sequence variant"/>
                    <xs:enumeration value="short sequence motif"/>
                    <xs:enumeration value="signal peptide"/>
                    <xs:enumeration value="site"/>
                    <xs:enumeration value="splice variant"/>
                    <xs:enumeration value="strand"/>
                    <xs:enumeration value="topological domain"/>
                    <xs:enumeration value="transit peptide"/>
                    <xs:enumeration value="transmembrane region"/>
                    <xs:enumeration value="turn"/>
                    <xs:enumeration value="unsure residue"/>
                    <xs:enumeration value="zinc finger region"/>
                    <xs:enumeration value="intramembrane region"/>
                    <xs:enumeration value="proteomics"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>

        <xs:attribute name="id" type="xs:string" use="optional"/>


    </xs:complexType>

    <xs:complexType name="locationType">
        <xs:annotation>
            <xs:documentation>Describes a sequence location as either a range with a begin and end or as a position. The
                'sequence' attribute is only used when the location is not on the canonical sequence displayed in the
                current entry.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:sequence>
                <xs:element name="begin" type="positionType"/>
                <xs:element name="end" type="positionType"/>
            </xs:sequence>
            <xs:element name="position" type="positionType"/>
        </xs:choice>
        <xs:attribute name="sequence" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="positionType">
        <xs:attribute name="position" type="xs:unsignedLong" use="optional"/>
        <xs:attribute name="status" use="optional" default="certain">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="certain"/>
                    <xs:enumeration value="uncertain"/>
                    <xs:enumeration value="less than"/>
                    <xs:enumeration value="greater than"/>
                    <xs:enumeration value="unknown"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <!-- Feature definition ends -->

    <xs:complexType name="evidenceType">
        <xs:sequence>
            <xs:element name="dbReference" type="dbReferenceType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="code" use="required"/>
    </xs:complexType>

    <xs:complexType name="dbReferenceType">
        <xs:sequence>
            <xs:element name="property" type="propertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" use="required"/>
        <xs:attribute name="type" use="required"/>
    </xs:complexType>

    <xs:complexType name="propertyType">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="variantType">
        <xs:sequence>
            <xs:element type="xs:string" name="cytogeneticBand"/>
            <xs:element type="xs:string" name="genomicLocation"/>
            <xs:element type="xs:string" name="consequenceType"/>
            <xs:element type="xs:string" name="wildType"/>
            <xs:element type="xs:string" name="mutatedType"/>
            <xs:element type="xs:double" name="frequency" minOccurs="0"/>
            <xs:element type="polyphenPredictionType" name="polyphenPrediction"/>
            <xs:element type="siftPredictionType" name="siftPrediction"/>
            <xs:element type="xs:boolean" name="somaticStatus"/>
            <xs:element type="xs:string" name="clinicalSignificance"/>
            <xs:element type="associationType" name="association" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="sourceType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="uniprot"/>
                    <xs:enumeration value="large_scale_study"/>
                    <xs:enumeration value="mixed"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="associationType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="evidenceType" name="evidence" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="dbReferenceType" name="xrefs" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:boolean" name="isDisease"/>
    </xs:complexType>

    <xs:complexType name="siftPredictionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:double" name="score"/>
                <xs:attribute name="predication">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="tolerated"/>
                            <xs:enumeration value="deleterious"/>
                            <xs:enumeration value="tolerated - low confidence"/>
                            <xs:enumeration value="deleterious - low confidence"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="polyphenPredictionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:double" name="score"/>
                <xs:attribute name="predication">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="unknown"/>
                            <xs:enumeration value="benign"/>
                            <xs:enumeration value="possibly damaging"/>
                            <xs:enumeration value="probably damaging"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="peptideType">
        <xs:annotation>
            <xs:documentation>Peptide from certain data sources with its
                sequence
                and mapped positions on protein sequence, and it can be
                unique or non-unique
                to the UniProt entry.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="peptideSequence" type="xs:string"/>
        </xs:sequence>
        <xs:attribute use="required" name="unique" type="xs:boolean"/>
    </xs:complexType>
</xs:schema>
